.flex-container{
    background-color:blue;
    display: flex;
    align-items: baseline;
    height: 200px;
}
.flex-container >div{
    background-color: aqua;
    width: 100px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
}
